body {
    justify-content: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
    text-align: center;
    background-color: rgb(155, 158, 165);
}

.links-container a {
    display: inline-block; /* or 'inline' */
    margin-right: 0%; /* Adjust the spacing between links */
    text-decoration: none; /* Remove underline */
    padding: 0.5%;
    color: #000000; /* Set link color */
}

.links-container a:hover {
    background-color: lightgreen;
}


.content {
    justify-content: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
    text-align: center;
}

.dropdowns-container {
    overflow: visible; /* Clears floats */
  }

.invisible {
    display: none;
}

.visible-dropdown {
    float: left;
    width: 10%;
    border-radius: 5px;
    margin: 10px;
}

.submit-button {
    width: 10%;
    border-radius: 5px;
    margin: 10px;
}

.results-container {
    width: 10%;
    border-radius: 5px;
    margin: 10px;
}

.upload-button {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;

 }

.data-table-container {
    border-radius: 5px;
    margin: 10px;
    padding: 10px
}

.upload-data-container {
    margin: 10px;
    padding: 10px
}

.single-attribute-info-container {
    background-color: aquamarine;
}

.two-attributes-info-container {
    background-color:aqua ;
}

.three-attributes-info-container {
    background-color:cadetblue;
}

.correlation-matrix-info-container {
    background-color:blueviolet;
    min-height: 100px;
}


.single-attribute-dropdown-container,
.two-attributes-dropdown-container,
.three-attributes-dropdown-container,
.correlation-matrix-attributes-dropdown-container{
    float: left; 
    width: 98%;
    border-radius: 5px;
    margin: 1%;
}

.visual-container {
    float: left; 
    width: 80%;
    margin: 1%;
}

.vis-dropdowns-container {
    float: left; 
    width: 16%;
    border-radius: 5px;
    margin: 1%;
}



/* Clearfix to handle float clearing */
.single-attribute-info-container::after,
.two-attributes-info-container::after ,
.three-attributes-info-container::after,
.multiple-attributes-info-container::after {
    content: "";
    display: table;
    clear: both;
}

